/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~material-design-icons/iconfont/material-icons.css';
@import "../node_modules/font-awesome/scss/font-awesome.scss";
html, body { height: 100%; margin:0; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bg-image {
    background-image: url("assets/images/background.jpg");
    filter: blur(8px);
    -webkit-filter: blur(3px);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}

