<h1
  *ngIf="isEditing"
  mat-dialog-title
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
  cdkDragHandle
  i18n="@@editUserPreferences"
>
  Edit user preferences
</h1>
<h1
  *ngIf="!isEditing"
  mat-dialog-title
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
  cdkDragHandle
  i18n="@@userPreferences"
>
  User prefrences
</h1>
<form
  [formGroup]="userPreferencesForm"
  (ngSubmit)="userPreferencesForm.valid && save()"
  autocomplete="off"
>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label i18n="@@favoriteAnimal"
          >What's your favorite animal?</mat-label
        >
        <mat-select formControlName="animalType">
          <mat-option
            *ngFor="let animal of animals; let ind = index"
            [value]="animal"
          >
            {{ animalTranslations[ind] }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="column">
      <mat-form-field class="margins" appearance="outline">
        <mat-label i18n="@@animalType"
          >What kind of animal do you prefer?</mat-label
        >
        <mat-select formControlName="animalSize">
          <mat-option
            *ngFor="let size of sizes; let ind = index"
            [value]="size"
          >
            {{ sizeTranslations[ind] }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label i18n="@@announcementsType"
          >What type of announcements you want to see?</mat-label
        >
        <mat-select formControlName="open">
          <mat-option [value]="true" i18n="@@active">Active</mat-option>
          <mat-option [value]="false" i18n="@@inactive">Inactive</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="column">
      <mat-form-field class="margins" appearance="outline">
        <mat-label i18n="@@seeRequestSent">Do you want to see the announcements that you requested?</mat-label>
        <mat-select formControlName="requestSent">
          <mat-option [value]="true" i18n="@@yes"> Yes</mat-option>
          <mat-option [value]="false" i18n="@@no"> No</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <button
      *ngIf="isEditing"
      mat-raised-button
      (click)="cancel()"
      i18n="@@cancel"
    >
      Cancel
    </button>
    <button
      *ngIf="!isEditing"
      mat-raised-button
      mat-dialog-close
      i18n="@@close"
    >
      Close
    </button>
    <button
      *ngIf="!isEditing"
      class="margins"
      mat-raised-button
      (click)="edit()"
      i18n="@@edit"
    >
      Edit
    </button>
    <button
      *ngIf="isEditing"
      class="margins"
      mat-raised-button
      (click)="save()"
      i18n="@@save"
    >
      Save
    </button>
  </div>
</form>
