.font-weight-500 {
  font-weight: 500;
  font-size: 20px;
}

.gray {
  color: gray;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.margins {
  margin-top: 40px;
}

.align-center span div h1 {
  text-align: center;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ml-10 {
    margin-left: 10px;
}

.mt-10 {
    margin-top: 10px;
}
