<div *ngIf="!accountService.isUserLoggedIn()">
  <mat-card class="register-card">
    <div fxLayout="row">
      <div fxLayout="column">
        <img class="login-image" src="assets/images/register.png" />
      </div>
      <div fxLayout="column">
        <mat-card-content>
          <mat-card-title i18n="@@register">Register</mat-card-title>
          <mat-card-subtitle i18n="@@completeForm"
            >Fill the below form to create a new account.</mat-card-subtitle
          >
          <form
            [formGroup]="registerForm"
            (ngSubmit)="registerForm.valid && register()"
            autocomplete="off"
          >
            <div fxLayout="row">
              <div fxLayout="column">
                <mat-form-field appearance="outline">
                  <mat-label i18n="@@firstName">First Name</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="firstName"
                    reguired
                  />
                  <mat-error
                    *ngIf="
                      registerForm.controls['firstName'].hasError('required')
                    "
                    i18n="@@firstNameRequired"
                    >First Name is required</mat-error
                  >
                </mat-form-field>
              </div>
              <div fxLayout="column">
                <mat-form-field class="margins" appearance="outline">
                  <mat-label i18n="@@lastName">Last Name</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="lastName"
                    required
                  />
                  <mat-error
                    *ngIf="
                      registerForm.controls['lastName'].hasError('required')
                    "
                    i18n="@@lastNameRequired"
                    >Last Name is required</mat-error
                  >
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row">
              <div fxLayout="column">
                <mat-form-field appearance="outline">
                  <mat-label i18n="@@email">Email</mat-label>
                  <input
                    type="email"
                    matInput
                    formControlName="email"
                    required
                  />
                  <mat-error
                    *ngIf="registerForm.controls['email'].hasError('required')"
                    i18n="@@emailRequired"
                    >Email is required</mat-error
                  >
                  <mat-error
                    *ngIf="registerForm.controls['email'].hasError('email')"
                    i18n="@@emailError"
                    >This is not a valid email</mat-error
                  >
                </mat-form-field>
              </div>
              <div fxLayout="column">
                <mat-form-field class="margins" appearance="outline">
                  <mat-label i18n="@@phoneNumber">Phone Number</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="phoneNumber"
                    required
                  />
                  <mat-error
                    *ngIf="
                      registerForm.controls['phoneNumber'].hasError('required')
                    "
                    i18n="@@phoneNumberRequired"
                    >Phone number is required</mat-error
                  >
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row">
              <div fxLayout="column">
                <mat-form-field appearance="outline">
                  <mat-label i18n="@@county">County</mat-label>
                  <mat-select
                    formControlName="county"
                    name="county"
                    (selectionChange)="getCities()"
                    required
                  >
                    <mat-option
                      *ngFor="let county of counties"
                      [value]="county"
                    >
                      {{ county.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="registerForm.controls['county'].hasError('required')"
                    i18n="@@countyRequired"
                    >County is required</mat-error
                  >
                </mat-form-field>
              </div>
              <div fxLayout="column">
                <mat-form-field class="margins" appearance="outline">
                  <mat-label i18n="@@city">City</mat-label>
                  <mat-select formControlName="city" name="city" required>
                    <mat-option *ngFor="let city of cities" [value]="city">
                      {{ city.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="registerForm.controls['city'].hasError('required')"
                    i18n="@@cityRequired"
                    >City is required</mat-error
                  >
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row">
                <mat-form-field class="street" appearance="outline">
                  <mat-label i18n="@@street">Street</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="street"
                    required
                  />
                  <mat-error
                    *ngIf="registerForm.controls['street'].hasError('required')"
                    i18n="@@streetRequired"
                    >Street is required</mat-error
                  >
                </mat-form-field>
            </div>

            <div fxLayout="row">
              <div fxLayout="column">
                <mat-form-field appearance="outline">
                  <mat-label i18n="@@username">Username</mat-label>
                  <input type="text" matInput formControlName="username" />
                  <mat-error
                    *ngIf="
                      registerForm.controls['username'].hasError('required')
                    "
                    i18n="@@usernameRequired"
                    >Username is required</mat-error
                  >
                </mat-form-field>
              </div>

              <div fxLayout="column">
                <mat-form-field class="password" appearance="outline">
                  <mat-label i18n="@@password">Password</mat-label>
                  <input
                    [type]="hide ? 'password' : 'text'"
                    matInput
                    formControlName="password"
                  />
                  <mat-icon matSuffix (click)="hide = !hide">{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                  <mat-error
                    *ngIf="
                      registerForm.controls['password'].hasError('required')
                    "
                    i18n="@@passwordRequired"
                    >Password is required</mat-error
                  >
                  <mat-error
                    *ngIf="registerForm.controls['password'].hasError('minlength')"
                    i18n="@@passwordMinError"
                    >Password must have at least 10 characters</mat-error
                  >
                </mat-form-field>
              </div>
            </div>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <div fxLayout="row">
            <div fxLayout="column">
              <button
                class="back"
                mat-raised-button
                (click)="backToLogin()"
                type="submit"
                i18n="@@backToLogin"
              >
                Back to login
              </button>
            </div>

            <div fxLayout="column">
              <button
                class="register-button"
                mat-raised-button
                [disabled]="!registerForm.valid || successfullyRegister"
                (click)="register()"
                type="submit"
                i18n="@@register"
              >
                Register
              </button>
            </div>
          </div>
        </mat-card-actions>
      </div>
    </div>
  </mat-card>
</div>
