<div
  *ngIf="
    (accountService.currentUser$ | async) === undefined ||
    (accountService.currentUser$ | async) === null
  "
>
  <mat-card class="register-card">
    <div fxLayout="row">
      <div fxLayout="column">
        <img
          class="login-image"
          src="assets/images/register.png"
        />
      </div>
      <div fxLayout="column">
        <mat-card-content>
          <mat-card-title>{{ "register" | translate }}</mat-card-title>
          <mat-card-subtitle>{{
            "completeForm" | translate
          }}</mat-card-subtitle>
          <form
            [formGroup]="registerForm"
            (ngSubmit)="registerForm.valid && register()"
            autocomplete="off"
          >
            <div fxLayout="row">
              <div fxLayout="column">
                <mat-form-field appearance="outline">
                  <mat-label>{{ "firstName" | translate }}</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="firstName"
                    reguired
                  />
                  <mat-error
                    *ngIf="
                      registerForm.controls['firstName'].hasError('required')
                    "
                    >{{ "firstNameRequired" | translate }}</mat-error
                  >
                </mat-form-field>
              </div>
              <div fxLayout="column">
                <mat-form-field class="margins" appearance="outline">
                  <mat-label>{{ "lastName" | translate }}</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="lastName"
                    required
                  />
                  <mat-error
                    *ngIf="
                      registerForm.controls['lastName'].hasError('required')
                    "
                    >{{ "lastNameRequired" | translate }}</mat-error
                  >
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row">
              <div fxLayout="column">
                <mat-form-field appearance="outline">
                  <mat-label>{{ "email" | translate }}</mat-label>
                  <input
                    type="email"
                    matInput
                    formControlName="email"
                    required
                  />
                  <mat-error
                    *ngIf="registerForm.controls['email'].hasError('required')"
                    >{{ "emailRequired" | translate }}</mat-error
                  >
                  <mat-error
                    *ngIf="registerForm.controls['email'].hasError('email')"
                    >{{ "emailError" | translate }}</mat-error
                  >
                </mat-form-field>
              </div>
              <div fxLayout="column">
                <mat-form-field class="margins" appearance="outline">
                  <mat-label>{{ "phoneNumber" | translate }}</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="phoneNumber"
                    required
                  />
                  <mat-error
                    *ngIf="
                      registerForm.controls['phoneNumber'].hasError('required')
                    "
                    >{{ "phoneNumberRequired" | translate }}</mat-error
                  >
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row">
              <div fxLayout="column">
                <mat-form-field appearance="outline">
                  <mat-label>{{ "county" | translate }}</mat-label>
                  <mat-select
                    formControlName="county"
                    name="county"
                    (selectionChange)="getCities()"
                    required
                  >
                    <mat-option
                      *ngFor="let county of counties"
                      [value]="county"
                    >
                      {{ county.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="registerForm.controls['county'].hasError('required')"
                    >{{ "countyRequired" | translate }}</mat-error
                  >
                </mat-form-field>
              </div>
              <div fxLayout="column">
                <mat-form-field class="margins" appearance="outline">
                  <mat-label>{{ "city" | translate }}</mat-label>
                  <mat-select formControlName="city" name="city" required>
                    <mat-option *ngFor="let city of cities" [value]="city">
                      {{ city.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="registerForm.controls['city'].hasError('required')"
                    >{{ "cityRequired" | translate }}</mat-error
                  >
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row">
              <mat-form-field class="street" appearance="outline">
                <mat-label>{{ "street" | translate }}</mat-label>
                <input type="text" matInput formControlName="street" required />
                <mat-error
                  *ngIf="registerForm.controls['street'].hasError('required')"
                  >{{ "streetRequired" | translate }}</mat-error
                >
              </mat-form-field>
            </div>

            <div fxLayout="row">
              <div fxLayout="column">
                <mat-form-field appearance="outline">
                  <mat-label>{{ "username" | translate }}</mat-label>
                  <input type="text" matInput formControlName="username" />
                  <mat-error
                    *ngIf="
                      registerForm.controls['username'].hasError('required')
                    "
                    >{{ "usernameRequired" | translate }}</mat-error
                  >
                </mat-form-field>
              </div>

              <div fxLayout="column">
                <mat-form-field class="password" appearance="outline">
                  <mat-label>{{ "password" | translate }}</mat-label>
                  <input
                    [type]="hide ? 'password' : 'text'"
                    matInput
                    formControlName="password"
                  />
                  <mat-icon matSuffix (click)="hide = !hide">{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                  <mat-error
                    *ngIf="
                      registerForm.controls['password'].hasError('required')
                    "
                    >{{ "passwordRequired" | translate }}</mat-error
                  >
                  <mat-error
                    *ngIf="
                      registerForm.controls['password'].hasError('minlength')
                    "
                    >{{ "passwordMinError" | translate }}</mat-error
                  >
                </mat-form-field>
              </div>
            </div>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <div fxLayout="row">
            <div fxLayout="column">
              <button
                class="back"
                mat-raised-button
                (click)="backToLogin()"
                type="submit"
              >
                {{ "backToLogin" | translate }}
              </button>
            </div>

            <div fxLayout="column">
              <button
                class="register-button"
                mat-raised-button
                [disabled]="!registerForm.valid || successfullyRegister"
                (click)="register()"
                type="submit"
              >
                {{ "register" | translate }}
              </button>
            </div>
          </div>
        </mat-card-actions>
      </div>
    </div>
  </mat-card>
</div>
