<h1
  *ngIf="isEditing"
  mat-dialog-title
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
  cdkDragHandle
  i18n="@@editNgoDetails"
>
Edit NGO details
</h1>
<h1
  *ngIf="!isEditing"
  mat-dialog-title
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
  cdkDragHandle
  i18n="@@ngoDetails"
>
NGO details
</h1>
<form
  [formGroup]="ngoDetailsForm"
  (ngSubmit)="ngoDetailsForm.valid && save()"
  autocomplete="off"
>
  <div fxLayout="row">
    <div fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label i18n="@@ngoName">Ngo name</mat-label>
        <input type="text" matInput formControlName="ngoName" reguired />
        <mat-error i18n="@@ngoNameRequired"
          *ngIf="ngoDetailsForm.controls['ngoName'].hasError('required')"
          >Ngo name is required</mat-error
        >
      </mat-form-field>
    </div>
    <div fxLayout="column">
      <mat-form-field class="margins" appearance="outline">
        <mat-label i18n="@@code">Code</mat-label>
        <input type="text" matInput formControlName="code" required />
        <mat-error i18n="@@codeRequired"
          *ngIf="ngoDetailsForm.controls['code'].hasError('required')"
          >Code is required</mat-error
        >
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row">
    <div fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label i18n="@@county">County</mat-label>
        <mat-select
          formControlName="ngoCounty"
          (selectionChange)="getCities(ngoDetailsForm.get('ngoCounty')!.value)"
          required
        >
          <mat-option *ngFor="let county of counties" [value]="county">
            {{ county.name }}
          </mat-option>
        </mat-select>
        <mat-error i18n="@@countyRequired"
          *ngIf="ngoDetailsForm.controls['ngoCounty'].hasError('required')"
          >County is required</mat-error
        >
      </mat-form-field>
    </div>
    <div fxLayout="column">
      <mat-form-field class="margins" appearance="outline">
        <mat-label i18n="@@city">City</mat-label>
        <mat-select formControlName="ngoCity" required>
          <mat-option *ngFor="let city of cities" [value]="city">
            {{ city.name }}
          </mat-option>
        </mat-select>
        <mat-error i18n="@@cityRequired"
          *ngIf="ngoDetailsForm.controls['ngoCity'].hasError('required')"
          >City is required</mat-error
        >
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-form-field class="street" appearance="outline">
      <mat-label i18n="@@street">Street</mat-label>
      <input type="text" matInput formControlName="ngoStreet" required />
      <mat-error i18n="@@streetRequired"
        *ngIf="ngoDetailsForm.controls['ngoStreet'].hasError('required')"
        >Street is required</mat-error
      >
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <button i18n="@@cancel" *ngIf="isEditing" mat-raised-button (click)="cancel()">
      Cancel
    </button>
    <button i18n="@@close" *ngIf="!isEditing" mat-raised-button mat-dialog-close>
      Close
    </button>
    <button
      *ngIf="!isEditing"
      class="margins"
      mat-raised-button
      (click)="edit()"
      i18n="@@edit"
    >
      Edit
    </button>
    <button
      *ngIf="isEditing"
      class="margins"
      mat-raised-button
      (click)="save()"
      i18n="@@save"
    >
      Save
    </button>
  </div>
</form>
