.app-header {
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.action-button {
  color: rgb(55, 93, 219) !important;
}

.div {
  color: black;
}

.span {
  color: black !important;
}

.spacer {
  flex: 1 1 auto;
}

.div-user {
  display: flex;
}

.margins {
    margin-right: 20px !important;
}
