.app-header {
  background-color: white;
  // position: fixed;
}

.action-button {
  color: rgb(55, 93, 219) !important;
}

.div {
  color: black;
}

.span {
  color: black !important;
}

.spacer {
  flex: 1 1 auto;
}

.div-user {
  display: flex;
}

.margins {
    margin-right: 10px !important;
}

.username-margins {
  margin-right: 10px !important;
  margin-top: 4px !important;
  font-size: 16px;
}

.username-icon {
  margin-top: 7px !important;
  margin-right: 10px !important;
}

.image {
  width: 20px !important;
  height: 20px !important;
  margin-right: 5px !important;
}

.logo-image {
  width: 40px !important;
  height: 30px !important;
  margin-right: 10px !important;
}

.connectionOn {
  color: green;
}

.connectionOff {
  color: red;
}

.ml-10 {
  margin-left: 10px;
}