<mat-toolbar class="app-header">
  <button mat-icon-button (click)="onToggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <div fxLayout="row">
    <img class="logo-image" src="assets/images/logo.png" />
    <span color="black" i18n="@@animalAdoption">Animal Adoption</span>
  </div>

  <span class="spacer"></span>
  <div class="margins connectionOn" *ngIf="isOnline">
    <button mat-button>
      <mat-icon>network_wifi</mat-icon>
      <span class="ml-10">Online</span>
    </button>
  </div>
  <div class="margins connectionOff" *ngIf="!isOnline">
    <button mat-button>
      <mat-icon>signal_wifi_off</mat-icon>
      <span class="ml-10">Offline</span>
    </button>
  </div>
  <button class="margins" mat-button [matMenuTriggerFor]="menuCountries">
    <img class="image" [src]="languageImage" /><span>
      {{ languageSpan }}
    </span>
  </button>
  <mat-menu #menuCountries="matMenu">
    <button mat-menu-item>
      <img class="image" src="assets/images/flags/ro.png" /><a href="/ro/{{currentUrl()}}"><span>{{locales[0].label}}</span></a>
    </button>
    <button mat-menu-item>
      <img class="image" src="assets/images/flags/gb.png" /><a href="/en-US/{{currentUrl()}}"><span>{{locales[1].label}}</span></a>
    </button>
  </mat-menu>
  <div *ngIf="accountService.isUserLoggedIn()">
    <div class="div-user">
      <button class="margins" mat-icon-button (click)="openNotifications()">
        <mat-icon>notifications</mat-icon>
      </button>
      <div class="username-margins">
        {{ accountService.getUserUsername() }}
      </div>
      <mat-icon class="username-icon">account_circle</mat-icon>
      <button class="margins" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="getAccountDetails()">
          <mat-icon>account_box</mat-icon>
          <span i18n="@@accountDetails">Account Details</span>
        </button>
        <button
          *ngIf="accountService.isBasicUser"
          mat-menu-item
          (click)="getUserPreferences()"
        >
          <mat-icon>favorite</mat-icon>
          <span i18n="@@userPreferences">User preferences</span>
        </button>
        <button
          *ngIf="accountService.isNgo"
          mat-menu-item
          (click)="getNgoDetails()"
        >
          <mat-icon>group_work</mat-icon>
          <span i18n="@@ngoDetails">Edit NGO details</span>
        </button>
        <button mat-menu-item type="submit" (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span i18n="@@logout">Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
