<mat-toolbar class="app-header" color="white">
    <span>Animal Adoption</span>
    <span class="example-spacer"></span>
    <div *ngIf="!((accountService.currentUser$ | async) === undefined || (accountService.currentUser$ | async) === null)">
        <div class="flexed" *ngIf="(accountService.currentUser$ | async) as user">
            <mat-icon>account-circle</mat-icon>
            <div> {{user.username}} </div>
            <div>
                <button type="submit" i18n="@@logout" color="primary" (click)="logout()">Logout</button>
            </div>
        </div>
    </div>
</mat-toolbar>
