<div
  *ngIf="
    (accountService.currentUser$ | async) === undefined ||
    (accountService.currentUser$ | async) === null
  "
>
  <mat-card class="login-card" flexLayoutAlign="center start">
    <div fxLayout="row">
      <div fxLayout="column">
        <img
          class="login-image"
          src="assets/images/login.jpg"
        />
      </div>
      <div fxLayout="column">
        <mat-card-content>
          <mat-card-title>{{'login' | translate}}</mat-card-title>
          <mat-card-subtitle
            >{{'welcomeLogin' | translate}}</mat-card-subtitle
          >
          <form
            [formGroup]="loginForm"
            (ngSubmit)="loginForm.valid && login()"
            autocomplete="off"
          >
            <div fxLayout="row" fxLayoutAlign="space-between">
              <mat-form-field appearance="outline">
                <mat-label>{{'username' | translate}}</mat-label>
                <input type="text" matInput formControlName="username" />
                <mat-error *ngIf="loginForm.controls['username'].hasError('required')">{{'usernameRequired' | translate}}</mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout="start">
              <mat-form-field appearance="outline">
                <mat-label>{{'password' | translate}}</mat-label>
                <input
                  [type]="hide ? 'password' : 'text'"
                  matInput
                  formControlName="password"
                />
                <mat-icon matSuffix (click)="hide = !hide">{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
                <mat-error *ngIf="loginForm.controls['password'].hasError('required')">{{'passwordRequired' | translate}}</mat-error>
              </mat-form-field>
            </div>
          </form>
          <div fxLayout="row">
            <div fxLayout="column">
              <mat-checkbox>{{'rememberMe' | translate}}</mat-checkbox>
            </div>
            <div fxLayout="column">
              <a class="margins" href="/forgot-password">
                {{'forgotPassword' | translate}}
              </a>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div fxLayout="column">
            <div fxLayout="row">
              <button
                class="login-button"
                mat-raised-button
                [disabled]="!loginForm.valid"
                (click)="login()"
                type="submit"
              >
                {{'login' | translate}}
              </button>
            </div>
            <div class="margins" fxLayout="row">
              {{'noAccount' | translate}}
            </div>
            <div fxLayout="row">
              <div fxLayout="column">
                <button
                  class="register-button"
                  mat-raised-button
                  (click)="registerBasicUser()"
                >
                  {{'registerBasicUser' | translate}}
                </button>
              </div>
              <div fxLayout="column">
                <button
                  class="register-button"
                  mat-raised-button
                  (click)="registerNGO()"
                >
                 {{'registerNGO' | translate}}
                </button>
              </div>
            </div>
          </div>
        </mat-card-actions>
      </div>
    </div>
  </mat-card>
</div>
