<div *ngIf="(accountService.currentUser$ | async) === undefined || (accountService.currentUser$ | async) === null">
    <mat-card flexLayoutAlign="center start">
        <mat-card-header fxLayout="column" fxLayout color="primary">
            <mat-card-title i18n="@@login">Login</mat-card-title>
            <mat-card-subtitle i18n="@@welcomeLogin">Welcome back, please login to your account.</mat-card-subtitle>
            <span ></span>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && login()" autocomplete="off">
                <mat-form-field appearance="outline">
                    <mat-label i18n="@@username">Username</mat-label>
                    <input type="text" matInput formControlName="username"/>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label i18n="@@password">Password</mat-label>
                    <input type="password" matInput formControlName="password"/>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button [disabled] = "!loginForm.valid" (click)="login()" type="submit" i18n="@@login">Login</button>
            <button mat-raised-button (click)="registerBasicUser()" i18n="@@registerBasicUser">Register As Basic User</button>
            <button mat-raised-button (click)="registerNGO()" i18n="@@registerNGO">Register As NGO</button>
        </mat-card-actions>
    </mat-card>
</div>

