<div *ngIf="!accountService.isUserLoggedIn()">
  <mat-card class="login-card" flexLayoutAlign="center start">
    <div fxLayout="row">
      <div fxLayout="column">
        <img class="login-image" src="assets/images/login.png" />
      </div>
      <div fxLayout="column">
        <mat-card-content>
          <mat-card-title i18n="@@login">Login</mat-card-title>
          <mat-card-subtitle i18n="@@welcomeLogin"
            >Welcome back, please login to your account.</mat-card-subtitle
          >
          <form
            [formGroup]="loginForm"
            (ngSubmit)="loginForm.valid && login()"
            autocomplete="off"
          >
            <div fxLayout="row" fxLayoutAlign="space-between">
              <mat-form-field appearance="outline">
                <mat-label i18n="@@username">Username</mat-label>
                <input type="text" matInput formControlName="username" />
                <mat-error *ngIf="loginForm.controls['username'].hasError('required')" i18n="@@usernameRequired">Username is required</mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout="start">
              <mat-form-field appearance="outline">
                <mat-label i18n="@@password">Password</mat-label>
                <input
                  [type]="hide ? 'password' : 'text'"
                  matInput
                  formControlName="password"
                />
                <mat-icon matSuffix (click)="hide = !hide">{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
                <mat-error *ngIf="loginForm.controls['password'].hasError('required')" i18n="@@passwordRequired">Password is required</mat-error>
              </mat-form-field>
            </div>
          </form>
          <div fxLayout="row">
            <div fxLayout="column">
              <a class="margins" i18n="@@forgotPassword" href="{{forgotPasswordLink}}">
                Did you forgot your password?
              </a>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div fxLayout="column">
            <div fxLayout="row">
              <button
                class="login-button"
                mat-raised-button
                [disabled]="!loginForm.valid"
                (click)="login()"
                type="submit"
                i18n="@@login"
              >
                Login
              </button>
            </div>
            <div class="margins" fxLayout="row" i18n="@@noAccount">
              Don't you have an account, yet?
            </div>
            <div fxLayout="row">
              <div fxLayout="column">
                <button
                  class="register-button"
                  mat-raised-button
                  (click)="registerBasicUser()"
                  i18n="@@registerBasicUser"
                >
                  Register As Basic User
                </button>
              </div>
              <div fxLayout="column">
                <button
                  class="register-button"
                  mat-raised-button
                  (click)="registerNGO()"
                  i18n="@@registerNGO"
                >
                  Register As NGO
                </button>
              </div>
            </div>
          </div>
        </mat-card-actions>
      </div>
    </div>
  </mat-card>
</div>
