.login-card {
  width: 45%;
  margin-top: 8%;
  margin-left: 25%;
}

.login-image {
  width: 100%;
  height: 100%;
}

.login-button {
  width: 100%;
  margin-left: 20px !important;
}

.register-button {
  margin-top: 10px !important;
  margin-left: 20px !important;
}

.mat-form-field {
  align-self: center;
  width: 100%;
}

.mat-card-content {
  margin-top: 20px;
  margin-left: 20px;
}
.margins {
    margin: 20px !important;
}
