<div fxLayout="row" fxLayoutAlign="center right" *ngIf="accountService.isNgo">
  <button mat-icon-button (click)="addAnnouncement()">
    <mat-icon class="40px">add_circle</mat-icon>
  </button>
</div>

<div
  fxLayout="row wrap"
  fxLayout.xs="column wrap"
  fxLayoutAlign="center center"
  class="mt-10"
>
  <div class="margins" *ngFor="let announcement of fosteringAnnouncements">
    <app-fostering-announcement-list-model
      (delete)="refreshPage($event)"
      [fosteringAnnouncementModel]="announcement"
    ></app-fostering-announcement-list-model>
  </div>
</div>

<mat-paginator
  [length]="pagination?.TotalCount"
  [pageSize]="pagination?.PageSize"
  [pageSizeOptions]="pageSizeOptions"
  [pageIndex]="currentPage"
  (page)="onPaginateChange($event)"
>
  aria-label="Select page">
</mat-paginator>
