<h1
  *ngIf="isEditing"
  mat-dialog-title
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
  cdkDragHandle
>
  {{ "editFosteringAnnouncement" | translate }}
</h1>
<h1
  *ngIf="!isEditing"
  mat-dialog-title
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
  cdkDragHandle
>
  {{ "fosteringAnnouncement" | translate }}
</h1>

<form
  [formGroup]="fosteringAnnouncementForm"
  (ngSubmit)="fosteringAnnouncementForm.valid"
  autocomplete="off"
>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>{{ "title" | translate }}</mat-label>
        <input type="text" matInput formControlName="title" required />
        <mat-error
          *ngIf="
          fosteringAnnouncementForm.controls['title'].hasError('required')
          "
          >{{ "titleRequired" | translate }}</mat-error
        >
      </mat-form-field>
    </div>
    <div fxLayout="column">
      <mat-form-field class="margins" appearance="outline">
        <mat-label>{{ "description" | translate }}</mat-label>
        <textarea matInput formControlName="description" required></textarea>
        <mat-error
          *ngIf="
          fosteringAnnouncementForm.controls['description'].hasError(
              'required'
            )
          "
          >{{ "descriptionRequired" | translate }}</mat-error
        >
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>{{ "favoriteAnimal" | translate }}</mat-label>
        <mat-select formControlName="animalType">
          <mat-option
            *ngFor="let animal of animals; let ind = index"
            [value]="animal"
          >
            {{ animalTranslations[ind] }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="column">
      <mat-form-field class="margins" appearance="outline">
        <mat-label>{{ "animalType" | translate }}</mat-label>
        <mat-select formControlName="animalSize">
          <mat-option
            *ngFor="let size of sizes; let ind = index"
            [value]="size"
          >
            {{ sizeTranslations[ind] }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field appearance="fill">
        <mat-label>{{ "period" | translate }}</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate formControlName="startDate" placeholder="Start date">
          <input matEndDate formControlName="endDate" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        <mat-error *ngIf="fosteringAnnouncementForm.controls['startDate'].hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="fosteringAnnouncementForm.controls['endDate'].hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field class="margins" appearance="outline">
      <mat-label>{{ "moreDetails" | translate }}</mat-label>
      <textarea matInput formControlName="moreDetails" required></textarea>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" class="mt-10">
    <input
      type="file"
      id="fileInput"
      name="fileInput"
      accept="image/*"
      multiple
      (change)="selectFiles($event)"
    />
  </div>
  <div fxLayout="row wrap" fxLayout.xs="column wrap" fxLayoutAlign="center center" class="mt-10">
      <img *ngFor="let preview of previews" [src]="preview" class="preview" />
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" class="mt-10">
    <button
      *ngIf="isEditing"
      mat-raised-button
      (click)="cancel()"
      cdkFocusInitial
    >
      {{ "cancel" | translate }}
    </button>
    <button
      *ngIf="!isEditing"
      mat-raised-button
      mat-dialog-close
      cdkFocusInitial
    >
      {{ "close" | translate }}
    </button>
    <button
      *ngIf="!isEditing"
      class="margins"
      mat-raised-button
      (click)="edit()"
    >
      {{ "edit" | translate }}
    </button>
    <button
      *ngIf="isEditing"
      class="margins"
      mat-raised-button
      (click)="save()"
    >
      {{ "save" | translate }}
    </button>
  </div>
</form>
