<div *ngIf="!((accountService.currentUser$ | async) === undefined || (accountService.currentUser$ | async) === null)">
    <mat-list class="vertical-menu">
        <a mat-list-item>
            <mat-icon>account_circle</mat-icon>
            <span>{{'accountDetails' | translate}}</span>
        </a>
        <a mat-list-item>
            <mat-icon svgIcon="animal"></mat-icon>
            <span>{{'animals' | translate}}</span>
        </a>
        <a mat-list-item>
            <mat-icon>chat</mat-icon>
            <span>{{'chat' | translate}}</span>
        </a>
        <a mat-list-item>
            <mat-icon>list_alt</mat-icon>
            <span>{{'myApplications' | translate}}</span>
        </a>
    </mat-list>
</div>
