<div *ngIf="!((accountService.currentUser$ | async) === undefined || (accountService.currentUser$ | async) === null)">
    <mat-list>
        <a mat-list-item>
            <mat-icon>account_circle</mat-icon>
            <span i18n="@@accountDetails">Account Details</span>
        </a>
        <a mat-list-item>
            <mat-icon svgIcon="animal"></mat-icon>
            <span i18n="@@animals">Animals</span>
        </a>
        <a mat-list-item>
            <mat-icon>chat</mat-icon>
            <span i18n="@@chat">Chat</span>
        </a>
        <a mat-list-item>
            <mat-icon>list_alt</mat-icon>
            <span i18n="@@myApplications">My Applications</span>
        </a>
    </mat-list>
</div>
