<div *ngIf="accountService.isUserLoggedIn()">
  <mat-action-list class="vertical-menu">
    <button mat-list-item *ngIf="accountService.isNgo" (click)="redirectToAdoptionAnnouncements()">
      <mat-icon>announcement</mat-icon>
      <span class="margins" i18n="@@myAdoptionAnnounces">My adoption announcements</span>
    </button>
    <button mat-list-item *ngIf="accountService.isNgo" (click)="redirectToFosteringAnnouncements()">
      <mat-icon>watch_later</mat-icon>
      <span class="margins" i18n="@@myFosteringAnnounces">My fostering announcements</span>
    </button>
    <button mat-list-item *ngIf="accountService.isBasicUser" (click)="redirectToAdoptionAnnouncements()">
      <mat-icon>announcement</mat-icon>
      <span class="margins" i18n="@@adoptionAnnouncements">Adoption announcements</span>
    </button>
    <button mat-list-item *ngIf="accountService.isBasicUser" (click)="redirectToFosteringAnnouncements()">
      <mat-icon>watch_later</mat-icon>
      <span class="margins" i18n="@@fosteringAnnouncements">Fostering announcements</span>
    </button>  
    <button mat-list-item *ngIf="accountService.isNgo" (click)="redirectToStatistics()">
      <mat-icon>timeline</mat-icon>
      <span class="margins" i18n="@@statistics">Statistics</span>
    </button>
    <button mat-list-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span class="margins" i18n="@@logout">Logout</span>
    </button>
  </mat-action-list>
</div>
