.mat-list {
    position: fixed;
    width: 30%;
}

.vertical-menu {
    width: 15% !important;
    height: 100% !important;
    position: fixed !important;
    background-color: white !important;
    z-index: 1;
}