<mat-card>
    <mat-card-header>
      <mat-card-title fxLayoutAlign="center center">
        {{ fosteringRequestListModel.firstName }}
        {{ fosteringRequestListModel.lastName }}
      </mat-card-title>
      <mat-card-subtitle fxLayoutAlign="center center">
        {{ fosteringRequestListModel.county.name }},
        {{ fosteringRequestListModel.city.name }},
        {{ fosteringRequestListModel.street }}
      </mat-card-subtitle>
      <mat-chip-list class="margin">
        <mat-chip>
          {{ isEvaluated }}
        </mat-chip>
      </mat-chip-list>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="row">
          <div fxLayput="column" class="margins" fxLayoutAlign="center center">
            <span class="bold" i18n="@@phoneNumber"> Phone number: </span>
          </div>
          <div fxLayput="column" class="mr-20" fxLayoutAlign="center center">
            <span>{{ fosteringRequestListModel.phoneNumber }} </span>
          </div>
        </div>
        <div fxLayout="row">
          <div fxLayput="column" class="margins" fxLayoutAlign="center center">
            <span class="bold" i18n="@@email">Email:</span>
          </div>
          <div fxLayput="column" fxLayoutAlign="center center">
            <span>{{ fosteringRequestListModel.email }} </span>
          </div>
        </div>
      <div fxLayout="row">
        <div fxLayput="column" class="margins" fxLayoutAlign="center center">
          <span class="bold" i18n="@@reason">Reason:</span>
        </div>
        <div fxLayput="column" fxLayoutAlign="center center">
          <span>{{ fosteringRequestListModel.reason }} </span>
        </div>
      </div>
      <div fxLayout="row">
        <div fxLayput="column" class="margins" fxLayoutAlign="center center">
          <span class="bold" i18n="@@availability">Availability for discussion:</span>
        </div>
        <div fxLayput="column" fxLayoutAlign="center center">
          <span>{{ fosteringRequestListModel.availableDate }} </span>
        </div>
      </div>
      <div fxLayout="row">
        <div fxLayput="column" class="margins" fxLayoutAlign="center center">
          <span class="bold" i18n="@@something">Something else:</span>
        </div>
        <div fxLayput="column" fxLayoutAlign="center center">
          <span>{{ fosteringRequestListModel.somethingElse }} </span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div
        fxLayout="row"
        *ngIf="accountService.isNgo"
        fxLayoutAlign="center center"
      >
        <div fxLayout="column" matTooltip="{{getTooltip}}">
          <button mat-icon-button type="submit" (click)="acceptRequest()" [disabled]="fosteringRequestListModel.reviewed">
            <mat-icon>done</mat-icon>
          </button>
        </div>
        <div fxLayout="column">
          <button mat-icon-button type="submit" (click)="rejectRequest()" [disabled]="fosteringRequestListModel.reviewed">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
  

