.bold {
  font-weight: bold;
}

.margins {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mat-card {
  background-color: antiquewhite;
}

.mat-card-content {
  background-color: white !important;
}

.align-center {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.mat-chip {
  background-color: rgb(247, 245, 238);
}

.margin {
  margin-left: 200px;
}
