<div fxLayout="row" fxLayoutAlign="center right" *ngIf="accountService.isNgo">
  <button mat-icon-button (click)="addAnnouncement()">
    <mat-icon>add_circle</mat-icon>
  </button>
</div>

<div
  fxLayout="row wrap"
  fxLayout.xs="column wrap"
  fxLayoutAlign="center center"
  class="mt-10"
>
  <div class="margins" *ngFor="let announcement of adoptionAnnouncements">
    <app-adoption-announcement-list-model
      (delete)="refreshPage($event)"
      [adoptionAnnouncementModel]="announcement"
    ></app-adoption-announcement-list-model>
  </div>
</div>
