.mat-icon {
    font-size: 40px;
    color: wheat;
}

.margins {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.mat-form-field {
    width: 300px;
}

.margin {
    margin-left:20px;
}

.mat-chip {
    background-color: antiquewhite;
}

.mat-checkbox-container {
    padding: 10px;
}

mat-chip-list {
    margin-left: 10px;
    margin-top: 10px;

    mat-chip:first-child {
        margin-left: 16px;
    }
}

.cursor-pointer, mat-chip.cursor-pointer {
    cursor: pointer;
}