<div fxLayout="row" *ngIf="accountService.isNgo">
  <div fxLayout="column">
    <mat-form-field>
      <mat-label i18n="@@filterBySize">Filter by size</mat-label>
      <mat-select multiple>
        <mat-option *ngFor="let size of sizes; let ind = index" [value]="size">
          {{ sizeTranslations[ind] }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxLayout="column" class="margin">
    <mat-form-field>
      <mat-label i18n="@@filterByType">Filter by type</mat-label>
      <mat-select multiple>
        <mat-option
          *ngFor="let animal of animals; let ind = index"
          [value]="animal"
        >
          {{ animalTranslations[ind] }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxLayout="column" class="margin">
    <button mat-icon-button (click)="addAnnouncement()">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>
</div>

<div
  fxLayout="row wrap"
  fxLayout.xs="column wrap"
  fxLayoutAlign="center center"
  class="mt-10"
>
  <div class="margins" *ngFor="let announcement of adoptionAnnouncements">
    <app-adoption-announcement-list-model
      (delete)="refreshPage($event)"
      [adoptionAnnouncementModel]="announcement"
    ></app-adoption-announcement-list-model>
  </div>
</div>

<mat-paginator
  [length]="pagination?.TotalCount"
  [pageSize]="pagination?.PageSize"
  [pageSizeOptions]="pageSizeOptions"
  [pageIndex]="currentPage"
  (page)="onPaginateChange($event)"
>
  aria-label="Select page">
</mat-paginator>
