<div fxLayout="row" *ngIf="accountService.isNgo" fxLayoutAlign="center center">
  <div fxLayout="column" class="margin">
    <button mat-icon-button (click)="addAnnouncement()">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="center center" *ngIf="accountService.isBasicUser">
  <mat-chip-list>
    <mat-chip *ngFor="let item of filters; let ind = index" class="cursor-pointer" [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
      <span>{{item.text}}</span>
      <mat-icon>{{menuTrigger.menuOpen ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
      <mat-menu #menu="matMenu" multiple>
        <div *ngFor="let menuItem of item.menuItems" class="mat-checkbox-container">
          <mat-checkbox [(ngModel)]="menuItem.checked" (change)="computeFilters()" >{{menuItem.text}}</mat-checkbox>
        </div>
      </mat-menu>
    </mat-chip>
  </mat-chip-list>
</div>
<div
  fxLayout="row wrap"
  fxLayout.xs="column wrap"
  fxLayoutAlign="center center"
  class="mt-10"
>
  <div class="margins" *ngFor="let announcement of adoptionAnnouncements">
    <app-adoption-announcement-list-model
      (delete)="refreshPage($event)"
      (add)="getAdoptionAnnounces()"
      [adoptionAnnouncementModel]="announcement"
    ></app-adoption-announcement-list-model>
  </div>
</div>

<mat-paginator
  [length]="pagination?.TotalCount"
  [pageSize]="pagination?.PageSize"
  [pageSizeOptions]="pageSizeOptions"
  [pageIndex]="currentPage"
  (page)="onPaginateChange($event)"
>
  aria-label="Select page">
</mat-paginator>
