<h1
  *ngIf="isEditing"
  mat-dialog-title
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
  cdkDragHandle
  i18n="@@editAdoptionAnnouncement"
>
  Edit adoption announcement
</h1>
<h1
  *ngIf="!isEditing"
  mat-dialog-title
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
  cdkDragHandle
  i18n="@@adoptionAnnouncement"
>
Adoption announcement
</h1>

<form
  [formGroup]="adoptionAnnouncementForm"
  (ngSubmit)="adoptionAnnouncementForm.valid"
  autocomplete="off"
>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label i18n="@@title">Title</mat-label>
        <input type="text" matInput formControlName="title" required />
        <mat-error i18n="@@titleRequired"
          *ngIf="
            adoptionAnnouncementForm.controls['title'].hasError('required')
          "
          >Title is required</mat-error
        >
      </mat-form-field>
    </div>
    <div fxLayout="column">
      <mat-form-field class="margins" appearance="outline">
        <mat-label i18n="@@description">Description</mat-label>
        <textarea matInput formControlName="description" required></textarea>
        <mat-error i18n="@@descriptionRequired"
          *ngIf="
            adoptionAnnouncementForm.controls['description'].hasError(
              'required'
            )
          "
          >Description is required</mat-error
        >
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label i18n="@@type">Animal type</mat-label>
        <mat-select formControlName="animalType">
          <mat-option
            *ngFor="let animal of animals; let ind = index"
            [value]="animal"
          >
            {{ animalTranslations[ind] }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="column">
      <mat-form-field class="margins" appearance="outline">
        <mat-label i18n="@@size">Size</mat-label>
        <mat-select formControlName="animalSize">
          <mat-option
            *ngFor="let size of sizes; let ind = index"
            [value]="size"
          >
            {{ sizeTranslations[ind] }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field class="margins" appearance="outline">
      <mat-label i18n="@@moreDetails">More details</mat-label>
      <textarea matInput formControlName="moreDetails" required></textarea>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" class="mt-10">
    <input
      type="file"
      id="fileInput"
      name="fileInput"
      accept="image/*"
      multiple
      (change)="selectFiles($event)"
    />
  </div>
  <div fxLayout="row wrap" fxLayout.xs="column wrap" fxLayoutAlign="center center" class="mt-10">
      <img *ngFor="let preview of previews" [src]="preview" class="preview" />
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" class="mt-10">
    <button
      *ngIf="isEditing"
      mat-raised-button
      (click)="cancel()"
      cdkFocusInitial
      i18n="@@cancel"
    >
      Cancel
    </button>
    <button
      *ngIf="!isEditing"
      mat-raised-button
      mat-dialog-close
      cdkFocusInitial
      i18n="@@close"
    >
      Close
    </button>
    <button
      *ngIf="!isEditing"
      class="margins"
      mat-raised-button
      (click)="edit()"
      i18n="@@edit"
    >
      Edit
    </button>
    <button
      *ngIf="isEditing"
      class="margins"
      mat-raised-button
      (click)="save()"
      i18n="@@save"
    >
      Save
    </button>
  </div>
</form>
