<div
  *ngIf="
    (accountService.currentUser$ | async) === undefined ||
    (accountService.currentUser$ | async) === null
  "
>
  <mat-card class="forgot-password-card" flexLayoutAlign="center start">
    <div fxLayout="row">
      <div fxLayout="column">
        <img
          class="forgot-password-image"
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
      </div>
      <div fxLayout="column">
        <mat-card-content>
          <mat-card-title
            >{{'recoverPassword' | translate}}</mat-card-title
          >
          <mat-card-subtitle
            >{{'enterEmail' | translate}}</mat-card-subtitle
          >
          <form
            [formGroup]="forgotPasswordForm"
            (ngSubmit)="forgotPasswordForm.valid && forgotPassword()"
            autocomplete="off"
          >
            <div fxLayout="row" fxLayoutAlign="space-between">
              <mat-form-field appearance="outline">
                <mat-label>{{'email' | translate}}</mat-label>
                <input type="email" matInput formControlName="email" required />
                <mat-error
                  *ngIf="
                    forgotPasswordForm.controls['email'].hasError('required')
                  "
                >{{'emailRequired' | translate}}</mat-error
                >
                <mat-error
                  *ngIf="forgotPasswordForm.controls['email'].hasError('email')"
                  >{{'emailError' | translate}}</mat-error
                >
              </mat-form-field>
            </div>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <div fxLayout="row">
            <div fxLayout="column">
              <button
                class="back"
                mat-raised-button
                (click)="backToLogin()"
                type="submit"
              >
                {{'backToLogin' | translate}}
              </button>
            </div>
            <div fxLayout="column">
              <button
                class="recover-button"
                mat-raised-button
                [disabled]="!forgotPasswordForm.valid || (successfullySent && !unsuccessfullySent)"
                (click)="forgotPassword()"
                type="submit"
              >
                {{'recover' | translate}}
              </button>
            </div>
          </div>
        </mat-card-actions>
      </div>
    </div>
  </mat-card>
</div>
