<div
  *ngIf="
    (accountService.currentUser$ | async) === undefined ||
    (accountService.currentUser$ | async) === null
  "
>
  <mat-card class="forgot-password-card" flexLayoutAlign="center start">
    <div fxLayout="row">
      <div fxLayout="column">
        <img
          class="forgot-password-image"
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
      </div>
      <div fxLayout="column">
        <mat-card-content>
          <mat-card-title i18n="@@recoverPassword"
            >Recover password</mat-card-title
          >
          <mat-card-subtitle
            i18n="@@enterEmail"
            >Please enter your email address and we'll send you instructions on
            how to reset your password.</mat-card-subtitle
          >
          <form
            [formGroup]="forgotPasswordForm"
            (ngSubmit)="forgotPasswordForm.valid && forgotPassword()"
            autocomplete="off"
          >
            <div fxLayout="row" fxLayoutAlign="space-between">
              <mat-form-field appearance="outline">
                <mat-label i18n="@@email">Email</mat-label>
                <input type="email" matInput formControlName="email" required />
                <mat-error
                  *ngIf="
                    forgotPasswordForm.controls['email'].hasError('required')
                  "
                  i18n="@@emailRequired"
                  >Email is required</mat-error
                >
                <mat-error
                  *ngIf="forgotPasswordForm.controls['email'].hasError('email')"
                  i18n="@@emailError"
                  >This is not a valid email</mat-error
                >
              </mat-form-field>
            </div>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <div fxLayout="row">
            <div fxLayout="column">
              <button
                class="back"
                mat-raised-button
                (click)="backToLogin()"
                type="submit"
                i18n="@@backToLogin"
              >
                Back to login
              </button>
            </div>
            <div fxLayout="column">
              <button
                class="recover-button"
                mat-raised-button
                [disabled]="!forgotPasswordForm.valid || (successfullySent && !unsuccessfullySent)"
                (click)="forgotPassword()"
                type="submit"
                i18n="@@recover"
              >
                Recover
              </button>
            </div>
          </div>
        </mat-card-actions>
      </div>
    </div>
  </mat-card>
</div>
