<div *ngIf="!accountService.isUserLoggedIn()">
  <mat-card class="change-password-card" flexLayoutAlign="center start">
    <div fxLayout="row">
      <div fxLayout="column">
        <img
          class="change-password-image"
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
      </div>
      <div fxLayout="column">
        <mat-card-content>
          <mat-card-title i18n="@@resetPassword">Reset password</mat-card-title>
          <mat-card-subtitle i18n="@@enterPassword"
            >Enter the new password you want</mat-card-subtitle
          >
          <form
            [formGroup]="changePasswordForm"
            (ngSubmit)="changePasswordForm.valid && changePassword()"
            autocomplete="off"
          >
            <mat-form-field class="password" appearance="outline">
              <mat-label i18n="@@password">Password</mat-label>
              <input
                [type]="hide ? 'password' : 'text'"
                matInput
                formControlName="password"
              />
              <mat-icon matSuffix (click)="hide = !hide">{{
                hide ? "visibility_off" : "visibility"
              }}</mat-icon>
              <mat-error
                *ngIf="
                  changePasswordForm.controls['password'].hasError('required')
                "
                i18n="@@passwordRequired"
                >Password is required</mat-error
              >
              <mat-error
                *ngIf="
                  changePasswordForm.controls['password'].hasError('minlength')
                "
                i18n="@@passwordMinError"
                >Password must have at least 10 characters</mat-error
              >
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <div fxLayout="row">
            <div fxLayout="column">
              <button
                class="change-password-button"
                mat-raised-button
                [disabled]="
                  !changePasswordForm.valid ||
                  (successfullyChanged && !unsuccessfullyChanged)
                "
                (click)="changePassword()"
                type="submit"
                i18n="@@changePassword"
              >
                Change password
              </button>
            </div>
            <div fxLayout="column">
              <button
                *ngIf="successfullyChanged"
                class="back"
                mat-raised-button
                (click)="backToLogin()"
                type="submit"
                i18n="@@backToLogin"
              >
                Back to login page
              </button>
            </div>
          </div>
        </mat-card-actions>
      </div>
    </div>
  </mat-card>
</div>
