<div
  *ngIf="
    (accountService.currentUser$ | async) === undefined ||
    (accountService.currentUser$ | async) === null
  "
>
  <mat-card class="change-password-card" flexLayoutAlign="center start">
    <div fxLayout="row">
      <div fxLayout="column">
        <img
          class="change-password-image"
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
      </div>
      <div fxLayout="column">
        <mat-card-content>
          <mat-card-title>{{'resetPassword' | translate}}</mat-card-title>
          <mat-card-subtitle>{{'enterPassword' | translate}}</mat-card-subtitle>
          <form
            [formGroup]="changePasswordForm"
            (ngSubmit)="changePasswordForm.valid && changePassword()"
            autocomplete="off"
          >
            <mat-form-field class="password" appearance="outline">
              <mat-label>{{'password' | translate}}</mat-label>
              <input
                [type]="hide ? 'password' : 'text'"
                matInput
                formControlName="password"
              />
              <mat-icon matSuffix (click)="hide = !hide">{{
                hide ? "visibility_off" : "visibility"
              }}</mat-icon>
              <mat-error
                *ngIf="
                  changePasswordForm.controls['password'].hasError('required')
                "
                >{{'passwordRequired' | translate}}</mat-error
              >
              <mat-error
                *ngIf="changePasswordForm.controls['password'].hasError('minlength')"
                >{{'passwordMinError' | translate}}</mat-error
              >
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <div fxLayout="row">
            <button
              class="change-password-button"
              mat-raised-button
              [disabled]="!changePasswordForm.valid || (successfullyChanged && !unsuccessfullyChanged)"
              (click)="changePassword()"
              type="submit"
            >
              {{'changePassword' | translate}}
            </button>
          </div>
          <div fxLayout="column">
            <a *ngIf="successfullyChanged" class="margins" href="/login">{{'backToLogin'| translate}}</a>
          </div>
        </mat-card-actions>
      </div>
    </div>
  </mat-card>
</div>
