.card {
    padding-top: 16px;
    width: 400px;
}

.full-width {
    width: 100%;
}

.mt-10 {
    margin-top: 10px;
}

.margins {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}